
@font-face {
	font-family: "Iyagi";
	src : url("DOSIyagiBoldface.ttf")
}

@font-face {
	font-family: "DM";
	src : url("DOSMyungjo.ttf")
}

* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
	font-family: DM;
	background-color:#EEEEEE;
}

/* adjusting fonts */

body {
	transition: background 500ms ease;
	/*color: red;
    Font-family: arial;*/
}

h1 {
	font-size: 80px;
}

.title {  }

.bottom {
	padding-left: 20px;
}

#ascii {
	font-family: Iyagi;
}

p, li {
	font-size:  22px;
	line-height: 30px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/